<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="UTF-8">
    <title>Picture Adjusting</title>
    <link rel="stylesheet" href="index.css">
    <script src="https://code.angularjs.org/1.6.4/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.6.4/angular-route.min.js"></script>
  </head>
  <body>
    <div id="content">
      <header ng-controller="headCtrl">
        <h1>Picture Adjusting</h1>
        <div style="display: flex;">
          <div class="minimize_button option" ng-click='minimize()'>&#x1f5d5;</div>
          <div class="maximize_button option" ng-click='maximize()'>&#x1f5d6;</div>
          <div class="close_button option" ng-click='close()'>&#x2716;</div>
        </div>
      </header>
      <div id="mainContent" ng-view></div>
    </div>
    <script src = "script.js"></script>
  </body>
</html>
